<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h3>Please enter the fields below</h3>
    <!-- <label>
        First Name:
        <input type="text" formControlName="firstName" required>
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName" required>
    </label> -->
    <div class="form">
        <div class="right">
            <label>
                Name: <br>
                <input type="text" formControlName="name" required minlength="5" [(ngModel)]="profileForm.name">
            </label>
            <p *ngIf="name.invalid && (name.dirty || name.touched)"
            class="alert alert-danger"></p>
            <br>
            <label>
                Email: <br>
                <input type="email" formControlName="email" required>
            </label>
            <br>
            <label>
                Gender: <br>
                <input type="radio" name="gender" id="male" value="male" formControlName="gender">male <br>
                <input type="radio" name="gender" id="female" value="female" formControlName="gender">female
            </label>
        </div>

        <div class="left">
            <div class="avatar-area">
                <img *ngIf="URL" [src]="URL" id="imageViewer">
            </div>
            <br>
            <label class="file">
                Avatar: <br>
                <input type="file" id="imageCapturer"
                    (change)="useImage($event)">
            </label>
            <br><br>
            <label>
                Mobile Number: <br>
                <input type="number" formControlName="mobileNumber" required maxlength="10" minlength="10">
            </label><br>
            <button type="submit" [disabled]="!profileForm.valid">Submit</button>
        </div>
    </div>

</form>