<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <h3>Please enter the fields below</h3>
    
    <label>
        First Name:
        <input type="text" formControlName="firstName" required>
    </label>

    <label>
        Last Name:
        <input type="text" formControlName="lastName" required>
    </label>


    <div class="form">
        <div class="right">
            <label>
                Name: <br>
                <input type="text" formControlName="name" required>
            </label>
            <br>
            <label>
                Email: <br>
                <input type="email" formControlName="email" required>
            </label>
            <br>
            <label>
                Gender: <br>
                <input type="radio" name="gender" id="male" value="male" formControlName="gender">male <br>
                <input type="radio" name="gender" id="female" value="female" formControlName="gender">female
            </label>
        </div>

        <div class="left">
            <div class="avatar-area"></div>
            <br>
            <label class="file">
                Avatar: <br>
                <input type="file" name="" id="" formControlName="avatar" required>
            </label>
            <br><br>
            <label>
                Mobile Number: <br>
                <input type="text" formControlName="mobileNumber" required>
            </label>
        </div>
    </div>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>