html {
    padding: 0;
    margin: 0;
}

.form {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.avatar-area {
    height: 160px;
    width: 160px;
    border: 1px solid black;
}

input[type="file"] {

}